*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{
	background: url("../images/neonBackground.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.menuContainer{
	position: fixed;
	top: 0;
	z-index: 2;
	height: 100px;
	width: 100%;
	background-color: rgba(0, 0, 0, .04);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}
.logoImg{
	width: 80px;
}
nav{
	display: flex;
	align-items: center;
	height: 100%;
    margin:0px auto;
    width: 90%;
}
.navUl{
	width: 60%;
	display: flex;
	justify-content: space-around;
}
.navUl li{
	list-style: none;
}
.bi-list{
	fill: white;
}
.burgerMenu{
	display: none;
}
.navUl li a{
	transition: 0.3s;
	font-family: 'Acme', sans-serif;
	font-size: 20px;
    text-decoration: none;
    color: white;
}
.navUl li:hover{
	letter-spacing: 1px;
}
.basket{
	display: flex;
	justify-content: center;
	margin-left: auto;
}
.bi-basket{
    fill: white;
}
.totalDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
}
.total{
	font-size: 16px;
	color: white;
	padding: 0px;
	margin: 0px;
}
.totalPrice{
    font-family: 'Acme', sans-serif;
	font-size: 18px;
	color: white;
}
.basketTop{
	display: none;
}

/*________________SECTION_HOME___________*/

.banner-background{
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	background: rgba(0,0,0,0.04);
	border:none;
}

.banner{
	margin:100px auto 50px auto;
	width: 90%;
	display: flex;
	padding: 100px 0;
}

.banner-image{
	width: 650px;
	height: 400px;
}

.banner-info{
	margin-top: 100px;
}

.banner-info h3{
	color: #f2f2f2;
	font-weight: bolder;
	font-size: 48px;
}

.banner-info p{
	margin-top: 20px;
	color: #eeeeee;
	font-weight:normal;
	font-size: 24px;
}

.banner-button{
	border-width: 1px;
	border-color: #EEEEEE;
	background: none;
	color:#EEEEEE;
	margin-top: 20px;
	padding:15px 30px;
	border-radius: 20px;
	font-weight: bold;
	transition: 0.3s;
}

.banner-button:hover{
	cursor:pointer;
	background: rgba(238,238,238,0.9);
	color: #090909;
}

.collection-title{
	width:90%;
	margin: 0px auto;
	text-align: center;
	color: #fefefe;
	font-size: 50px;
	font-weight: 900;
}

.collection-container{
	display: flex;
	width:90%;
	margin:0 auto;
}

.collection{
	width:33%;
	padding: 100px 30px;
}

.collection img{
	width:100%;
	border-radius: 90px;
}
.collection-container{
	display: flex;
	width:90%;
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	justify-content: space-between;
}
.collection-container img{
	width: 30%;
	border-radius: 90px;
	transition: 0.5s;
}

.collection-container img:hover{
	transform: scale3d(1.1, 1.1, 1.1);
}

/*_________FOOTER_________*/

footer {
  width: 100%;
  padding: 20px 0px;
  background-color: rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.footer-top {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.footer-nav,
.footer-info,
.footer-links {
  width: 30%;
}

.footer-info h4 {
  font-size: 24px;
  font-family: 'DM Sans', sans-serif;
}

.footer-info p {
  padding-top: 14px;
  font-family: 'Kanit', sans-serif;
}

.footer-info {
  color: #f0f0f0;
}

.footer-nav {
  text-align: center;
}

.footer-nav ul {
  list-style: none;
}

.footer-nav ul li {
  margin-bottom: 10px;
}

.footer-nav ul li a {
  text-decoration: none;
  transition: 0.3s;
  color: #f0f0f0;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
}

.footer-nav ul li a:hover {
  color: rgb(255, 226, 77);
}

.socialNetworks ul {
  list-style: none;
  justify-content: space-between;
  display: flex;
}

.socialNetworks ul li img {
  max-height: 30px;
  max-width: 50px;
  margin-right: 15px;
}

.subscription {
  margin-top: 35px;
}

.subscription h4 {
  color: #f0f0f0;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
}

.subscription form {
  margin-top: 15px;
  display: flex;
  font-family: 'DM Sans', sans-serif;
}

.email_input {
  border-radius: 15px;
  border-width: 0;
  padding: 10px;
  background: none;
  font-size: 16px;
  color: #f0f0f0;
}

.btn-input {
  width: 30px;
  height: 30px;
}

.footer-bottom {
  width: 90%;
  margin: 0px auto;
  margin-top: 15px;
  color: #919191;
}

.footer-bottom p {
  margin-top: 15px;
}
/*Navigation menu responsive*/
@media(min-width: 1440px){
	nav,.footer-top, .footer-bottom,.banner,.collection-container,.collection-title{
		width: 1300px;
	}
}
@media(max-width:1200px){
	/*Navigation*/
	body{
		background: url("../images/neonBackground_1024.png") no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
	/*Banner*/
	.banner-image{
		width: 350px;
		height: 200px;
	}
	.banner-info {
		margin-top: 50px;
	}
	.collection-title {
		font-size: 40px;
	}
	.banner-info p{
		font-size: 20px;
	}
	.banner-info h3{
		font-size: 40px;
	}
}
@media(max-width: 900px){
	/*Navigation*/
	body{
		background: url("../images/neonBackground_tablet.png") no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
	.logoImg {
		width: 60px;
	}
	.navUl li a {
		font-size: 18px;
	}
	.basket svg{
		width: 30px;
		height: 30px;
	}
	.totalPrice {
		font-size: 17px;
	}
	.menuContainer{
		height: 70px;
	}
	/*Footer*/
	.footer-nav ul li a {
		font-size: 18px;
	}
	.footer-info h4 {
		font-size: 20px;
	}
	.footer-info p {
		font-size: 16px;
	}
	.subscription h4 {
		font-size: 18px;
	}
	.email_input {
		padding: 5px;
		font-size: 14px;
	}
	.btn-input {
		width: 20px;
		height: 20px;
	}
	.subscription {
		margin-top: 25px;
	}
}
@media(max-width: 700px){
	/*Navigation*/
	body{
		background: url("../images/neonBackground_mobile.png") no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
	.logoImg {
		width: 80px;
	}
	.menuContainer{
		height: auto;
	}
	.burgerMenu svg{
		width: 40px;
		height: 40px;
	}
	.menuContainer nav{
		flex-direction: column;
	}
	.burgerMenu{
		display: block;
	}
	.navUl{
		max-height: 0px;
		overflow-y: hidden;
		transition: max-height 0.7s ease-out;
		flex-direction: column;
		text-align: center;
	}
	.navUl li{
		margin-bottom: 10px;
		letter-spacing: 2px;
	}
	.navUl li:hover{
		letter-spacing: 3px;
	}
	.basket{
		display: none;
		margin: 0px;
		margin-bottom: 10px;
	}
	.basketTop{
		display: flex;
	}
	.topMenu{
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}
    /*Footer*/
    .footer-top{
    	flex-direction: column;
    }
	.footer-nav{
        display: none;
	}
	.footer-info,.footer-links{
		width: 100%;
	}
	.socialNetworks{
		margin-top: 15px;
	}
	.subscription {
		margin-top: 15px;
	}
	.email_input {
		padding: 10px;
		font-size: 18px;
	}	
	.btn-input {
		width: 30px;
		height: 30px;
	}
	/*Banner*/
	.banner{
		margin-top: 70px;
		flex-direction: column;
		align-items: center;
	}
	.banner-button{
		width: 100%;
	}
	.collection-container{
		flex-direction: column;
		align-items: center;
	}
	.collection-container img{
		margin-bottom: 60px;
		width: 70%;
	}
}