*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{
	background: url("../images/neonBackground.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.menuContainer{
	position: fixed;
	top: 0;
	z-index: 2;
	height: 100px;
	width: 100%;
	background-color: rgba(0, 0, 0, .04);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}
.logoImg{
	width: 80px;
}
nav{
	display: flex;
	align-items: center;
	height: 100%;
    margin:0px auto;
    width: 90%;
}
.navUl{
	width: 60%;
	display: flex;
	justify-content: space-around;
}
.navUl li{
	list-style: none;
}
.bi-list{
	fill: white;
}
.burgerMenu{
	display: none;
}
.navUl li a{
	transition: 0.3s;
	font-family: 'Acme', sans-serif;
	font-size: 20px;
    text-decoration: none;
    color: white;
}
.navUl li:hover{
	letter-spacing: 1px;
}
.basket{
	display: flex;
	justify-content: center;
	margin-left: auto;
}
.bi-basket{
    fill: white;
}
.totalDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
}
.total{
	font-size: 16px;
	color: white;
	padding: 0px;
	margin: 0px;
}
.totalPrice{
    font-family: 'Acme', sans-serif;
	font-size: 18px;
	color: white;
}
/*_______itemsContainer_________*/
.itemsContainer{
	width:100%;
	font-size: 25px;
	color: white;
	margin-top: 150px;
}
.h1Container{
	width: 90%;
	margin: 0px auto;
	margin-bottom: 60px;
}
.menH1{
	text-align: center;
}
.items{
	width: 90%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	margin-bottom: 40px;
	background-color: rgba(0, 0, 0, .04);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	padding: 0px 40px;
	width: 300px;
	height: 360px;
	border-radius: 20px;
}
.shoesInfo{
	transition: 1s;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 200px;
}
.price{
	font-family: 'Acme', sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 21px;
    color: rgb(255, 226, 77);
}
.shoesNameP{
	font-family: 'Acme', sans-serif;
	font-size: 19px;
	color: white;
	margin-bottom: 5px;
}
.sizes{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.sizes span{
	font-size: 20px;
	margin-right: 10px;
}
.size{
	border: 1px solid white;
	margin: 0px 4px;
    text-align: center;
	width: 25px;
}
.addToCart{
	font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: 0.3s;
    width: 100%;
}
.addToCart:hover{
	color: rgb(255, 226, 77);
}
.shoesName{
    font-family: 'Acme', sans-serif;
	font-size: 22px;
	color: white;
	transition: 1s;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
}
.itemsImg{
	height: 200px;
	width: 200px;
	transition: 1s;
}
.item:hover .itemsImg{
    transform: rotateZ(-30deg) translateY(-120px) scale3d(1.4, 1.4, 1.4);
}
.item:hover .shoesName{
	display: none;
}
.item:hover .shoesInfo{
	display: block!important;
}












